{erl_opts, [debug_info]}.

{deps, []}.

{relx,
 [{release, {parser, "0.1.0"}, [parser, sasl]},
  {mode, dev},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}.

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}

{profiles,
 %% prod is the default mode when prod
 %% profile is used, so does not have
 %% to be explicitly included like this
 [{prod, [{relx, [{mode, prod}]}]}]}.

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}

{plugins, [rebar3_format]}.

{format,
 [{formatter, default_formatter},
  {options,
   #{paper => 80,
     ribbon => 56,
     break_indent => 2,
     sort_arity_qualifiers => true,
     inline_attributes => none,
     inline_fields => none,
     inline_items => none,
     inline_simple_funs => false}}]}.
